*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
  overflow: auto;
}
@mixin border-top($color) {
  border-top: 3px solid $color;
}
@mixin center-flex($direction, $wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;

  place-content: center;
}
@mixin add-logo($url, $child) {
  .card-wrapper-overview article:nth-of-type(#{$child}) ul:after {
    display: block;
    content: $url;
  }
}
@mixin add-arrow($up: true) {
  .card-dashboard li:nth-child(#{$child}):before {
    // display: inline;
    content: url("/images/icon-facebook.svg");
  }

  padding: 2px;
}
@mixin dashboard-logo($logo, $child) {
  .card-dashboard:nth-child(#{$child}) li:first-child:before {
    content: $logo;
  }
}
//LAYOUT//

.main-container {
  @include center-flex(column, nowrap);
  place-content: space-evenly;
  margin: 10px clamp(10px, 10vw, 300px);
  min-height: 100vh;

  .dashboard-header {
    @include center-flex(row, wrap);
    margin: 30px 0px;

    .dashboard-title {
      @include center-flex(column, nowrap);
      place-items: flex-start;

      flex-grow: 10;
    }
    .theme-toggle-label {
      @include center-flex(row, nowrap);
      place-content: space-between;
      place-items: center;
      flex-grow: 1;
    }
  }
  .overview-title {
    margin: 30px 0px;
  }
  .card-dashboard {
    border-radius: 10px;

    ul {
      @include center-flex(column, nowrap);
      padding: 20px;

      li {
        margin: 9px;
      }
    }
  }

  .card-overview {
    border-radius: 10px;

    ul {
      display: grid;
      gap: 10px;
      padding: 10px;
      margin: 10px;
      place-items: center;

      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        " descriptor ."
        " stats performance";
      li:nth-child(1) {
        grid-area: descriptor;
      }
      li:nth-child(2) {
        grid-area: stats;
      }
      li:nth-child(3) {
        grid-area: performance;
      }
    }
  }
}
.card-wrapper{
  gap: 20px;
}
.card-wrapper-dashboard {
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;

  grid-template-areas: 
    'first second third fourth';

  article:nth-child(1){grid-area: first;}
  article:nth-child(2){grid-area: second;}
  article:nth-child(3){grid-area: third;}
  article:nth-child(4){grid-area: fourth;}
}

.card-wrapper-overview {
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'first second third fourth'
    'fifth sixth seventh eighth';
  
  article:nth-child(1){grid-area: first;}
  article:nth-child(2){grid-area: second;}
  article:nth-child(3){grid-area: third;}
  article:nth-child(4){grid-area: fourth;}
  article:nth-child(5){grid-area: fifth;}
  article:nth-child(6){grid-area: sixth;}
  article:nth-child(7){grid-area: seventh;}
  article:nth-child(8){grid-area: eighth;}
}

@media (max-width: 1000px) {
  .card-wrapper-dashboard {
    display: grid;
    grid-template-areas:
      'first second'
      'third fourth';
 }
  .card-wrapper-overview{
    display: grid;
    grid-template-areas:
      'first second'
      'third fourth'
      'fifth sixth'
      'seventh eighth';
  }
}
@media (max-width: 500px) {
  .theme-toggle-label{
    border-top: $Blue-Card-BG 2px solid;
    margin-top: 20px;
    padding: 20px 0;
  }
  .card-wrapper-dashboard {
    display: grid;
     grid-template-areas:
      'first'
      'second'
      'third'
      'fourth';
 }
  .card-wrapper-overview{
    display: grid;
    grid-template-areas:
      'first'
      'second'
      'third '
      'fourth'
      'fifth '
      'sixth'
      'seventh'
      'eighth';
  }
}


// Put space between the SVG and the name handles in the dashboard cards
.card-wrapper-dashboard li:first-of-type,
.card-wrapper-dashboard li:last-child {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 15px;
}

ul li:last-child::before {
  // content: url("/images/icon-down.svg");
  content: url("/images/icon-up.svg");
}

// SVG ICONS OF THE SOCIAL MEDIA APP IN THE OVERVIEW.
@include add-logo(url("/images/icon-facebook.svg"), 1);
@include add-logo(url("/images/icon-facebook.svg"), 2);
@include add-logo(url("/images/icon-instagram.svg"), 3);
@include add-logo(url("/images/icon-instagram.svg"), 4);
@include add-logo(url("/images/icon-twitter.svg"), 5);
@include add-logo(url("/images/icon-twitter.svg"), 6);
@include add-logo(url("/images/icon-youtube.svg"), 7);
@include add-logo(url("/images/icon-youtube.svg"), 8);

// SVG ICONS OF THE SOCIAL MEDIA APP IN THE DASHBOARD.
@include dashboard-logo(url("/images/icon-facebook.svg"), 1);
@include dashboard-logo(url("/images/icon-instagram.svg"), 2);
@include dashboard-logo(url("/images/icon-twitter.svg"), 3);
@include dashboard-logo(url("/images/icon-youtube.svg"), 4);
