@import "__var.scss";
$transition-time: 300ms;
$width: 50px;
$height: $width / 2;
$button-handle: $height / 1.5;
$border-radius: $height / 2;
// $button-handle-move: 100px - $button-handle;
.theme-toggle-label {
  display: inline-block;
  cursor: pointer;
}
.theme-toggle-checkbox {
  display: none;
}
.theme-toggle-design {
  display: grid;
  align-items: center;
  background: $dark;
  position: relative;
  width: $width;
  height: $height;
  border-radius: $border-radius;
  transition: background $transition-time ease-in-out;
} 
.theme-toggle-design::after{
    position: absolute;
    content: '';
    height: $button-handle;
    width: $button-handle;
    border-radius: $border-radius;
    background: $Blue-Card-BG;
   transition: transform $transition-time ease-in-out, background $transition-time ease-in-out;
    
}
.theme-toggle-checkbox:checked ~ .theme-toggle-design::after{
   transform: translateX($width - $button-handle);
  background: white;
}
.theme-toggle-checkbox:checked ~ .theme-toggle-design{
  background: $light;
}
// .theme-toggle-design::before{
//   position: absolute;
//   display: block;
//   background-color: white;
//   content: '';
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }
