// COLOURS AND TYPOGRAPHY

@import "__var.scss";

@font-face {
  font-family: "Inter", sans-serif;
  src: url("https://fonts.google.com/specimen/Inter");
}

* {
  color: white;
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
}
body{
  background-color: hsl(230, 17%, 14%);
}
.main-container {
  font-family: inherit;
 
  .dashboard-header {
    .dashboard-title {
      font-size: 1.7rem;
    }
    small {
      font-weight: bold;
      color: $Blue-Text;
      font-size: 1rem;
    }
    input{
      font-weight: bold;
    }
  }
    article {
      color: white;
    }
}
.card-wrapper-dashboard {
  text-align: center;
  .card-dashboard li:nth-child(1) {
    font-size: 0.9rem;
    color: $Blue-Text;
    font-weight: bold;
  }
  
  .card-dashboard li:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
  }
  .card-dashboard li:nth-child(3) {
    color: $Blue-Text;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
  }
  .card-dashboard li:nth-child(4) {
    font-size: 0.9rem;
    color: $LimeGreen;
  }
}
.card-wrapper-overview {
  .card-overview li:nth-child(1) {
    text-align: left;
    color: $Blue-Text;
  }
  .card-overview li:nth-child(2) {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
  }
  .card-overview li:nth-child(3) {
    color: $LimeGreen;
    font-weight: bold;
  }
}
@mixin add-top-border($child, $colour){
  .card-wrapper-dashboard .card-dashboard:nth-child(#{$child}){
    background: $colour no-repeat;
    background-color: $Blue-Card-BG;
    background-size: 100% 3%;
  }
 //For light theme using JS
  .light-theme-dashboard .card-dashboard:nth-child(#{$child}){
    background: $colour no-repeat;
    background-color: $Top-BG-Pattern;
    background-size: 100% 3%;
    
  }
}
@include add-top-border(1, $Facebook);
@include add-top-border(2, $Twitter);
@include add-top-border(3, $Instagram);
@include add-top-border(4, $YouTube);

.card{
  background-color: $Blue-Card-BG;
  border: solid blue 0px;
}

//For light theme using JS
.main-container-light-theme{
  background-color: $BG;
}
.overview-light .card{
  background: $Top-BG-Pattern;
}
.body-light{
  background-color: white;
  ul li:nth-child(2), .dashboard-title, .overview-title{
      color: $Text;
    }
  .theme-toggle-label{
    color: $light;
  }
}