//VARIABLES

//Primary
$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: linear-gradient(90deg, hsl(208, 92%, 53%));
$Twitter: linear-gradient(90deg, hsl(203, 89%, 53%));
$Instagram: linear-gradient(90deg, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
$YouTube: linear-gradient(90deg, hsl(348, 97%, 39%));

//Theme
$dark: linear-gradient(100deg ,  hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
$light: hsl(230, 22%, 74%);

//Dark theme colours.
$BG: hsl(230, 17%, 14%);
$TopBGPattern: hsl(232, 19%, 15%);
$Blue-Card-BG: hsl(228, 28%, 20%);
$Blue-Text: hsl(228, 34%, 66%);
$White-Text: hsl(0, 0%, 100%);

//Light theme colours.
$BG: hsl(0, 0%, 100%);
$Top-BG-Pattern: hsl(225, 100%, 98%);
$Card-BG: hsl(227, 47%, 96%);
$Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
$Text: hsl(230, 17%, 14%);

//Font
$font-size: 14px;
