*,
*::before,
*::after {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: center;
  place-content: space-evenly;
  margin: 10px clamp(10px, 10vw, 300px);
  min-height: 100vh;
}

.main-container .dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center;
  margin: 30px 0px;
}

.main-container .dashboard-header .dashboard-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: center;
  place-items: flex-start;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.main-container .dashboard-header .theme-toggle-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: center;
  place-content: space-between;
  place-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-container .overview-title {
  margin: 30px 0px;
}

.main-container .card-dashboard {
  border-radius: 10px;
}

.main-container .card-dashboard ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: center;
  padding: 20px;
}

.main-container .card-dashboard ul li {
  margin: 9px;
}

.main-container .card-overview {
  border-radius: 10px;
}

.main-container .card-overview ul {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  place-items: center;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: " descriptor ." " stats performance";
}

.main-container .card-overview ul li:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: descriptor;
}

.main-container .card-overview ul li:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stats;
}

.main-container .card-overview ul li:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: performance;
}

.card-wrapper {
  gap: 20px;
}

.card-wrapper-dashboard {
  display: -ms-grid;
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
      grid-template-areas: 'first second third fourth';
}

.card-wrapper-dashboard article:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.card-wrapper-dashboard article:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
}

.card-wrapper-dashboard article:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: third;
}

.card-wrapper-dashboard article:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fourth;
}

.card-wrapper-overview {
  display: -ms-grid;
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
      grid-template-areas: 'first second third fourth' 'fifth sixth seventh eighth';
}

.card-wrapper-overview article:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.card-wrapper-overview article:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second;
}

.card-wrapper-overview article:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: third;
}

.card-wrapper-overview article:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: fourth;
}

.card-wrapper-overview article:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fifth;
}

.card-wrapper-overview article:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sixth;
}

.card-wrapper-overview article:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: seventh;
}

.card-wrapper-overview article:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: eighth;
}

@media (max-width: 1000px) {
  .card-wrapper-dashboard {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'first second' 'third fourth';
  }
  .card-wrapper-overview {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'first second' 'third fourth' 'fifth sixth' 'seventh eighth';
  }
}

@media (max-width: 500px) {
  .theme-toggle-label {
    border-top: #252a41 2px solid;
    margin-top: 20px;
    padding: 20px 0;
  }
  .card-wrapper-dashboard {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'first' 'second' 'third' 'fourth';
  }
  .card-wrapper-overview {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'first' 'second' 'third ' 'fourth' 'fifth ' 'sixth' 'seventh' 'eighth';
  }
}

.card-wrapper-dashboard li:first-of-type,
.card-wrapper-dashboard li:last-child {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 15px;
}

ul li:last-child::before {
  content: url("/images/icon-up.svg");
}

.card-wrapper-overview article:nth-of-type(1) ul:after {
  display: block;
  content: url("/images/icon-facebook.svg");
}

.card-wrapper-overview article:nth-of-type(2) ul:after {
  display: block;
  content: url("/images/icon-facebook.svg");
}

.card-wrapper-overview article:nth-of-type(3) ul:after {
  display: block;
  content: url("/images/icon-instagram.svg");
}

.card-wrapper-overview article:nth-of-type(4) ul:after {
  display: block;
  content: url("/images/icon-instagram.svg");
}

.card-wrapper-overview article:nth-of-type(5) ul:after {
  display: block;
  content: url("/images/icon-twitter.svg");
}

.card-wrapper-overview article:nth-of-type(6) ul:after {
  display: block;
  content: url("/images/icon-twitter.svg");
}

.card-wrapper-overview article:nth-of-type(7) ul:after {
  display: block;
  content: url("/images/icon-youtube.svg");
}

.card-wrapper-overview article:nth-of-type(8) ul:after {
  display: block;
  content: url("/images/icon-youtube.svg");
}

.card-dashboard:nth-child(1) li:first-child:before {
  content: url("/images/icon-facebook.svg");
}

.card-dashboard:nth-child(2) li:first-child:before {
  content: url("/images/icon-instagram.svg");
}

.card-dashboard:nth-child(3) li:first-child:before {
  content: url("/images/icon-twitter.svg");
}

.card-dashboard:nth-child(4) li:first-child:before {
  content: url("/images/icon-youtube.svg");
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("https://fonts.google.com/specimen/Inter");
}

* {
  color: white;
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  background-color: #1e202a;
}

.main-container {
  font-family: inherit;
}

.main-container .dashboard-header .dashboard-title {
  font-size: 1.7rem;
}

.main-container .dashboard-header small {
  font-weight: bold;
  color: #8b97c6;
  font-size: 1rem;
}

.main-container .dashboard-header input {
  font-weight: bold;
}

.main-container article {
  color: white;
}

.card-wrapper-dashboard {
  text-align: center;
}

.card-wrapper-dashboard .card-dashboard li:nth-child(1) {
  font-size: 0.9rem;
  color: #8b97c6;
  font-weight: bold;
}

.card-wrapper-dashboard .card-dashboard li:nth-child(2) {
  font-size: 3rem;
  font-weight: bold;
}

.card-wrapper-dashboard .card-dashboard li:nth-child(3) {
  color: #8b97c6;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.card-wrapper-dashboard .card-dashboard li:nth-child(4) {
  font-size: 0.9rem;
  color: #1db489;
}

.card-wrapper-overview .card-overview li:nth-child(1) {
  text-align: left;
  color: #8b97c6;
}

.card-wrapper-overview .card-overview li:nth-child(2) {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.card-wrapper-overview .card-overview li:nth-child(3) {
  color: #1db489;
  font-weight: bold;
}

.card-wrapper-dashboard .card-dashboard:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(#198ff5)) no-repeat;
  background: linear-gradient(90deg, #198ff5) no-repeat;
  background-color: #252a41;
  background-size: 100% 3%;
}

.light-theme-dashboard .card-dashboard:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(#198ff5)) no-repeat;
  background: linear-gradient(90deg, #198ff5) no-repeat;
  background-color: #f5f7ff;
  background-size: 100% 3%;
}

.card-wrapper-dashboard .card-dashboard:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#1ca0f2)) no-repeat;
  background: linear-gradient(90deg, #1ca0f2) no-repeat;
  background-color: #252a41;
  background-size: 100% 3%;
}

.light-theme-dashboard .card-dashboard:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#1ca0f2)) no-repeat;
  background: linear-gradient(90deg, #1ca0f2) no-repeat;
  background-color: #f5f7ff;
  background-size: 100% 3%;
}

.card-wrapper-dashboard .card-dashboard:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) no-repeat;
  background: linear-gradient(90deg, #fdc468, #df4996) no-repeat;
  background-color: #252a41;
  background-size: 100% 3%;
}

.light-theme-dashboard .card-dashboard:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) no-repeat;
  background: linear-gradient(90deg, #fdc468, #df4996) no-repeat;
  background-color: #f5f7ff;
  background-size: 100% 3%;
}

.card-wrapper-dashboard .card-dashboard:nth-child(4) {
  background: -webkit-gradient(linear, left top, right top, from(#c4032a)) no-repeat;
  background: linear-gradient(90deg, #c4032a) no-repeat;
  background-color: #252a41;
  background-size: 100% 3%;
}

.light-theme-dashboard .card-dashboard:nth-child(4) {
  background: -webkit-gradient(linear, left top, right top, from(#c4032a)) no-repeat;
  background: linear-gradient(90deg, #c4032a) no-repeat;
  background-color: #f5f7ff;
  background-size: 100% 3%;
}

.card {
  background-color: #252a41;
  border: solid blue 0px;
}

.main-container-light-theme {
  background-color: white;
}

.overview-light .card {
  background: #f5f7ff;
}

.body-light {
  background-color: white;
}

.body-light ul li:nth-child(2), .body-light .dashboard-title, .body-light .overview-title {
  color: #1e202a;
}

.body-light .theme-toggle-label {
  color: #aeb3cb;
}

.theme-toggle-label {
  display: inline-block;
  cursor: pointer;
}

.theme-toggle-checkbox {
  display: none;
}

.theme-toggle-design {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(100deg, #378fe6, #3eda82);
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 12.5px;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.theme-toggle-design::after {
  position: absolute;
  content: '';
  height: 16.66667px;
  width: 16.66667px;
  border-radius: 12.5px;
  background: #252a41;
  -webkit-transition: background 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: background 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.theme-toggle-checkbox:checked ~ .theme-toggle-design::after {
  -webkit-transform: translateX(33.33333px);
          transform: translateX(33.33333px);
  background: white;
}

.theme-toggle-checkbox:checked ~ .theme-toggle-design {
  background: #aeb3cb;
}
/*# sourceMappingURL=index-style.css.map */